# GitHub OAuth (https://github.com/settings/developers)
# Authorization callback URL: https://<your-domain>/api/auth/callback/github
GITHUB_ID=
GITHUB_SECRET=

# NextAuth secret: `openssl rand -base64 32`
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
